.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4b0082, #8a2be2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  margin: 0 auto;
  padding: 2rem;
}

p {
  word-wrap: break-word;
}
